.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contant-wrap{
    flex: 1;
}

.card{
    margin-top: 10px;
}

.home-container{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}