.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contant-wrap{
    flex: 1;
}

.card{
    margin: 5px;
    flex: 0 0 25%;
    padding: 10px;
}

@media(max-width:768px) {
    .card{
    margin: 5px;
    flex: 0 0 40%;
    padding: 10px;
}
}

@media(max-width:580px) {
    .card{
    margin: 5px;
    flex: 0 0 55%;
    padding: 10px;
}
}

.home-container{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}