html{
    font-family: sans-serif;
}
.main{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcard{
    background-color: lightblue;
    padding: 3rem 5rem;
}

.mcard p {
    padding-top: 1rem;
    line-height: 150%;
}

.expand{
    width: 40rem;
}

